@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;

  background-color: hsl(257, 40%, 49%);
}

.ft-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.ft-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.ft2-400 {
  font-family: "Open Sans", sans-serif;
}
.soft-magenta {
  color: hsl(300, 69%, 71%);
}
.violet {
  color: hsl(257, 40%, 49%);
}
button:hover {
  background-color: hsl(300, 69%, 71%);
}
.white {
  fill: white;
}
.zeb:hover {
  fill: hsl(300, 69%, 71%);
}

/* .m-flexcol {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  
  } */
.w-610 {
  width: 610px;
}
.h-1290 {
  height: 1290px;
}
@media (min-width: 768px) {
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 20%;
    -ms-transform: translateY(-10%);
    transform: translateY(-5%);
  }
}
@media (max-width: 768px) {
  .bg-mobile {
    background-image: url(/images/bg-mobile.svg);
    background-size: cover;
  }
}
.vertical-center-mobile {
  margin: 0;
  position: absolute;
  top: 10%;
}
